# AWS Credentials
# Obtenha suas credenciais executando: aws configure get aws_access_key_id
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_SESSION_TOKEN=your-session-token-if-using-temporary-credentials

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
